@model IEnumerable<Position>
@{
    ViewData["Title"] = "Index";
    int n = 1;
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Setting</th>
                          </tr>
                        </thead>
                        <tbody>
                         @foreach (var pos in Model)
                        {
                         <tr>
                            <td>@n</td>
                            <td>@pos.Name</td>
                            <td>
                                    <a asp-action="Update" class="btn btn-warning" asp-route-id="@pos.Id"><i class="mdi mdi-table-edit"></i></a>
                                    @*<form class="d-inline delete-btn" asp-action="Delete" asp-route-id="@pos.Id" method="post">
                                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete-forever"></i></button>
                                    </form>*@
                                    <a asp-action="Delete" class="btn btn-danger delete-btn" asp-route-id="@pos.Id"><i class="mdi mdi-delete-forever"></i></a>
                                </td>
                                </tr>
                                n++;
                            }
                        </tbody>
                        <div class="d-flex justify-content-end">
                            <a asp-area="Admin" asp-controller="Position" asp-action="Create" class="btn btn-success"><i class="fas fa-plus-circle"></i></a>
                        </div>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>
@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/admin/assets/js/AlertModal.js"></script>
}

