 @model HomeVM


    @foreach (var pro in Model.MenuVM.Products)
   {
       @*<div class="modal fade myModalAjax" id="pro-@pro.Id" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">*@
                            @*<div class="modal-dialog " role="document">*@
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h5 class="modal-title" id="exampleModalLabel">@pro.Name</h5>
                                    </div>
                                    <div class="modal-body menu-modal">
                                        <div class="d-flex justify-content-center">
                                            <img src="~/assets/img/@pro.MenuImage.Image" style="width: 60%;"
                                                class="img-fluid" alt="">
                                        </div>
                                        <p class="text-black-50 mt-3 mb-4 px-2" style="text-align:center;">@pro.Description</p>
                                        <div class="size">
                                            <select name="size" id="pizzas">
                                                @{
                                                    double n = @pro.Price;
                                                    double orta = (n * 1.5);
                                                    double boyuk = (n * 2.5);
                                                }
                                                    <option value="1">Choose Size</option>
                                                   <option value="1" >Small - @pro.Price <span>$</span></option>
                                                   <option value="2" >Medium - @orta.ToString("F2") <span>$</span></option>
                                                   <option value="3" >Large - @boyuk <span>$</span></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal" id="modalClosePartial">Cancel</button>
                                            <form asp-action="AddBasket" asp-route-id="@pro.Id" id="pizza-order-button"  method="post" >
                                                <button type="submit" class="btn btn-warning">Add to Cart</button>
                                                <input type="hidden" id="productCount" value="@pro.Id" />
                                            </form>

                                    </div>
                                </div>
                            @*</div>*@
                     @*   </div>*@
   }