@model HomeVM
@{
    ViewData["Title"] = "Order";
    int count = ViewBag.TakeCount;
    int page = Model.Paginate.PageCount;
    int productNum = ((Model.Paginate.CurrentPage - 1) * count) + 1;
    int previous = Model.Paginate.CurrentPage - 1;
    int next = Model.Paginate.CurrentPage + 1;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            @*<div class="card">*@
                <div class="card-body" style="margin-top:120px;">
                    <div class="table-responsive">
                        <table class="table mb-5">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>FullName</th>
                                    <th>Count</th>
                                    <th>Order Date</th>
                                    <th>Status</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Paginate.Items)
                                {
                                    <tr>
                                        <th scope="row">@productNum</th>
                                        <td>@item.FullName</td>
                                        <td>@item.Count</td>
                                        <td>@item.CreatedAt</td>
                                        @if (item.Status=="pending")
                                       {
                                           <td style="text-align:center;" class="text-danger">@item.Status</td>
                                       }
                                       @if (item.Status=="preparing")
                                       {
                                           <td style="text-align:center;" class="text-primary">@item.Status</td>
                                       }
                                       @if (item.Status=="way")
                                       {
                                           <td style="text-align:center;" class="text-warning">@item.Status</td>
                                       }
                                       @if (item.Status=="delivired")
                                       {
                                           <td style="text-align:center;" class="text-success">@item.Status</td>
                                       }
                                        <td>@item.Total $</td>
                                    </tr>
                                    productNum++;
                                }
                            </tbody>
                        </table>
                        @if (Model.Paginate.PageCount!=1 && Model.Paginate.PageCount!=0)
                      {
                           <div class="col-lg-12 grid-margin stretch-card d-flex justify-content-center mt-5 mb-0">
                                <nav aria-label="...">
                                    <ul class="pagination pagination-md">
                                        <li class="page-item @(Model.Paginate.CurrentPage<3?"d-none":"")">
                                            <a class="page-link" asp-action="MyOrder" asp-route-page="1">First</a>
                                        </li>
                                        <li class="page-item @(Model.Paginate.CurrentPage==1   ?"d-none":"")">
                                            <a class="page-link" asp-action="MyOrder" asp-route-page="@previous">Previous</a>
                                        </li>

                                        @if (Model.Paginate.CurrentPage >= 2 && Model.Paginate.CurrentPage < Model.Paginate.PageCount)
                                        {
                                            @for (int i = Model.Paginate.CurrentPage - 1; i <= Model.Paginate.CurrentPage + 1; i++)
                                            {
                                                <li class="page-item @(Model.Paginate.CurrentPage==i?"disabled":"")">
                                                    <a class="page-link" asp-action="MyOrder" asp-route-page="@i">@i</a>
                                                </li>
                                            }
                                        }
                                        <li class="page-item @(Model.Paginate.CurrentPage==Model.Paginate.PageCount?"d-none":"")">
                                            <a class="page-link" asp-action="MyOrder" asp-route-page="@next">Next ></a>
                                        </li>
                                        <li class="page-item @(Model.Paginate.CurrentPage==Model.Paginate.PageCount?"d-none":"")">
                                            <a class="page-link" asp-action="MyOrder" asp-route-page="@Model.Paginate.PageCount">Last</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>  
                      }
                    </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
 @section Script
            {
                <script src="~/assets/js/script.js"></script>
                <script src="~/assets/js/otherPage.js"></script>
                @*<script src="~/assets/js/menu.js"></script>*@
            }