@model IEnumerable<ContactUs>
@{
    ViewData["Title"] = "Index";
    int n = 1;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Reservation</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Sent Date</th>
                            <th>Setting</th>
                          </tr>
                        </thead>
                        <tbody>
                         @foreach (var contact in Model)
                        {
                         <tr>
                            <td>@n</td>
                            <td>@contact.Name</td>
                            <td>@contact.Email</td>
                            <td>@contact.Subject</td>
                            <td>@contact.Message</td>
                            <td>@contact.SentDate</td>
                            <td>
                                    <form class="d-inline" asp-action="Check" asp-route-id="@contact.Id" method="post">
                                        <button type="submit" class="btn btn-success"><i class="mdi mdi-check-circle-outline"></i></button>
                                    </form>
                                </td>
                                </tr>
                                n++;
                            }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>