@model IEnumerable<Team>
@{
    ViewData["Title"] = "Index";
    int n = 1;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Team</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Image</th>
                            <th>Full Name</th>
                            <th>Position</th>
                            <th>About</th>
                            <th>Setting</th>
                          </tr>
                        </thead>
                        <tbody>
                         @foreach (var team in Model)
                        {
                         <tr>
                            <td>@n</td>
                            <td><img src="~/assets/img/@team.Image" /></td>
                            <td>@team.FullName</td>
                            <td>@team.Position.Name</td>
                            <td>@team.About</td>
                            <td>
                                    <a asp-action="Update" class="btn btn-warning" asp-route-id="@team.Id"><i class="mdi mdi-table-edit"></i></a>
                                    <form class="d-inline" asp-action="Delete" asp-route-id="@team.Id" method="post">
                                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete-forever"></i></button>
                                    </form>
                                </td>
                                </tr>
                                n++;
                            }
                        </tbody>
                        <div class="d-flex justify-content-end">
                            <a asp-area="Admin" asp-controller="Team" asp-action="Create" class="btn btn-success"><i class="fas fa-plus-circle"></i></a>
                        </div>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>
@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}

