@model About
@{
    ViewData["Title"] = "Index";
    int n = 1;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Image</th>
                            <th>Head</th>
                            <th>NormalContent</th>
                            <th>ItalicContent</th>
                            <th>NormalContent2</th>
                            <th>Link</th>
                            <th>Setting</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            <td>@n</td>
                            <td><img src="~/assets/img/@Model.Image"/></td>
                            <td>@Model.Head</td>
                            <td>@Model.NormalContent</td>
                            <td>@Model.ItalicContent</td>
                            <td>@Model.NormalContent2</td>
                            <td>@Model.Link</td>
                            <td>
                                    <a asp-action="Update" class="btn btn-warning" asp-route-id="@Model.Id"><i class="mdi mdi-table-edit"></i></a>                
                                </td>
                                </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>

