@model List<About>
@{
    ViewData["Title"] = "Index";
    int n = 1;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Image</th>
                            <th>Head</th>
                            <th>NormalContent</th>
                            <th>ItalicContent</th>
                            <th>NormalContent2</th>
                            <th>Link</th>
                            <th>Setting</th>
                          </tr>
                        </thead>
                        <tbody>
                         @foreach (var item in Model)
                        {
                         <tr>
                            <td>@n</td>
                            <td><img src="~/assets/img/@item.Image"/></td>
                            <td>@(item.Head.Length<=15?item.Head:item.Head.Substring(0,15)+"...")</td>
                            <td>@(item.NormalContent.Length<=20?item.NormalContent:item.NormalContent.Substring(0,20)+"...")</td>
                            <td>@(item.ItalicContent.Length<=20?item.ItalicContent:item.ItalicContent.Substring(0,20)+"...")</td>
                            <td>@(item.NormalContent2.Length<=20?item.NormalContent2:item.NormalContent2.Substring(0,20)+"...")</td>
                            <td>@(item.Link.Length<=10?item.Link:item.Link.Substring(0,10)+"...")</td>
                            <td>
                                    <a asp-action="Update" class="btn btn-warning" asp-route-id="@item.Id"><i class="mdi mdi-table-edit"></i></a>                
                                </td>
                                </tr>   
                        }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>

