@model HomeVM
<header class=" myNavbar">
    <section id="nav1" class="">
        <div class="container">
            <nav class="navbar navbar-expand-lg nav1Number">
                <a class="navbar-brand nav1Left" href="#"><i class="fas fa-mobile-alt"></i> @ViewBag.Phone1</a>
                <div class="collapse navbar-collapse nav1Hidden" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-brand nav1Left" href="#">
                                <i class="far fa-clock"></i> @ViewBag.NavbarWork @ViewBag.WorkTime
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="nav2" class="">
        <div class="container">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand nav2LeftIcon" asp-controller="Home" asp-action="Index">@ViewBag.RestaurantName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon burgerMenu">Menu</span>
                </button>
                @if (User.Identity.IsAuthenticated)
               {
                  <div class="collapse navbar-collapse nav2Right" style="margin-left:13%" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link  homeIntro" asp-controller="Home" asp-action="Index"
                               id="home-nav">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about" asp-controller="Home" asp-action="Index" id="about-nav">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link specials" asp-controller="Home" asp-action="Index">Specials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link reservation" asp-controller="Reservation" asp-action="Index">Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link team" asp-controller="Team" asp-action="Index">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gallery" asp-controller="Home" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contact" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li class="responsive-card ">
                            <a class="nav-link basket" asp-controller="Home" asp-action="Index">Basket</a>
                        </li>
                        <li class="nav-item shop-cart">
                            <a asp-controller="Menu" asp-action="Basket">
                                <sup class="rounded-circle">@ViewBag.basketCount</sup>
                                <i class="fas fa-shopping-basket logo-basket"></i>
                            </a>
                        </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="MyOrder" asp-route-ReturnUrl="@Context.Request.Path.Value" style="color: black;">Order</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="SettingAccount" asp-route-ReturnUrl="@Context.Request.Path.Value" style="color: black;">Setting</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="LogOut" asp-route-ReturnUrl="@Context.Request.Path.Value" style="color: black;">LogOut</a>
                                </div>
                            </li>
                        <li class="nav-item d-none">
                            <a class="nav-link WhyChoose" href="#">Choose</a>
                        </li>
                        <li class="nav-item d-none">
                            <a class="nav-link feedback" href="#">Guest Say</a>
                        </li>
                    </ul>
                    </div>
                }
                else
                {
                    <div class="collapse navbar-collapse nav2Right" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link  homeIntro" asp-controller="Home" asp-action="Index"
                               id="home-nav">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about" asp-controller="Home" asp-action="Index" id="about-nav">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link specials" asp-controller="Home" asp-action="Index">Specials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link reservation" asp-controller="Reservation" asp-action="Index">Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link team" asp-controller="Team" asp-action="Index">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gallery" asp-controller="Home" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contact" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li class="responsive-card ">
                            <a class="nav-link basket" asp-controller="Home" asp-action="Index">Basket</a>
                        </li>
                        <li class="nav-item shop-cart">
                            <a asp-controller="Menu" asp-action="Basket">
                                <sup class="rounded-circle">@ViewBag.basketCount</sup>
                                <i class="fas fa-shopping-basket logo-basket"></i>
                            </a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Path.Value">Login</a>
                            </li>
                        <li class="nav-item d-none">
                            <a class="nav-link WhyChoose" href="#">Choose</a>
                        </li>
                        <li class="nav-item d-none">
                            <a class="nav-link feedback" href="#">Guest Say</a>
                        </li>
                    </ul>
                </div>
                }
            </nav>
        </div>
    </section>
</header>